.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}
/* App.css */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.overall {
  min-height: 100vh; /* full viewport height */
  transition: background-color 0.3s ease;
}


.btn{
  /* padding: 15px; */
  /* margin: 20px; */
  margin-top: 10px;
  margin-right: 15px;
}
.darkmode{
  margin: 10px;
}